body {
    margin-top: 100px;
    background-image: url("../images/addbook.jpeg");
    background-size: cover;
}

img{
    height: 100px;
    width: 100px;
}

.btn{
    margin: 10px 10px 10px 10px;
}

.icon{
    margin-top:10px;
    height: 50px;
    width: 50px;
}

.form-group{
    text-align: center;
}
 



.bookImg{
    height: 150px;
    width: 110px;
    border-style: solid;
    border-color: lime;
    margin: 5px 5px;
}
.selected {
    border-color:red
} 